.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.8rem 2.5rem;

    border: 0.1rem solid $clr-txt-h3-teal;
    border-radius: 0.4rem;

    background-color: $clr-fltr-black;

    cursor: pointer;

    &_active {
        background-color: #fff;
    }
}

.date {}

.account {}

.store {}