.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 55rem;

    border-radius: 0.4rem;
    border: 0.2rem dotted $clr-txt-h3-teal;

    @include darken-background($clr-bg-main, 2%, -3%)
}