.h1 {
    font-family: 'Quando', sans-serif;

    font-size: 4rem;

    color: $clr-txt-h1-peach;
}

.h2 {
    font-size: 2.8rem;
    font-weight: 900;
    font-style: italic;

    line-height: 1.2143;
    letter-spacing: 6.5%;

    color: $clr-txt-h2-rose;
}

.h3 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    &_decor {
        color: $clr-txt-p-lavander;
    } 
    
    &_account,
    &_store, &_decor {
        margin: 0;
    }

    &_account {
        color: $clr-txt-h3-teal;
    }

    &_store {
        color: $clr-txt-h3-green;
    }
}

.p,
.time {
    font-size: 1.6rem;

    &_date {
        color: $clr-txt-p-white;

        margin: 0;
    }

    &_price {
        color: $clr-txt-p-yellow;
    }

    &_primary {
        color: $clr-txt-p-white;
    }

    &_secondary {
        color: $clr-txt-p-lavander;
    }
}